.customfood-cell {
    display: flex;
    flex-direction: column;
    margin: .25em;
    height: 1em;
    overflow: hidden;
}

.customfood-cell div:first-child {
    display: flex;
    justify-content: center;
}

.customfood-expanded {
    height: fit-content;
}

.customfood-cell p {
    margin: 0 0 0 1em;
    width: 65%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.customfood-buttons {
    z-index: +1;
    height: 1em;
}

.customfood-buttons>* {
    margin: 0 1em 0 1em;
}

.customfood-ingredients {
    margin: 1em 0 0 1em;
}