.daycard-outer-container {
    position: relative;
    width: calc(100% - 2.5em);
    max-width: 1200px;
    aspect-ratio: 2/1;
    overflow: hidden;
    user-select: none;
}

.daycard-inner-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    overflow: hidden;
    /* border: 1px solid salmon; */
}

.mealcard-container {
    position: relative;
    height: calc(100% - 1em);
    width: 50%;
    transition: opacity .2s ease, width .2s ease;
}

.daycard-missing-meal {
    margin: auto;
    text-align: center;
    color: grey;
    padding: 1em;
    opacity: 1;
    transition: opacity .4s .4s ease-in;
}

.dc-mm-off {
    opacity: 0;
    transition: opacity 0s;
}


/** ////////////DETALLES//////////// **/
.daycard-details {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s ease;
}

.daycard-head {
    display: flex;
    height: 80%;
    width: 100%;
}

.head-reverse {
    flex-direction: row-reverse;
}

/** /////////////barra porcentajes///////////// **/
.daycard-proportions {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: .6em;
    border-radius: .3em;
    overflow: hidden;
    background-color: rgb(63, 63, 63);
}

.daycard-proportions div {
    width: 1em;
}

/** /////////////ingredientes///////////// **/
.daycard-ingredients {
    height: 100%;
    width: calc(100% - 1em);
    display: flex;
    flex-direction: column;
}

.daycard-ing {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: .5em;
}

.daycard-ing b {
    text-align: left;
    margin: 0;
    font-size: .8em;
}

.daycard-ing p {
    text-align: left;
    padding-left: 0em;
    margin: 0.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ing-reverse b,
.ing-reverse p {
    text-align: right;
}

.ing-reverse p {
    padding: 0 .5em 0 0;
}

.ing-carb {
    justify-content: center;
}

.ing-veg {
    justify-content: flex-end;
}

/** /////////////extras///////////// **/
.daycard-options {
    height: 10%;
    display: flex;
    justify-content: space-around;
}

.daycard-options p {
    margin: 0;
}

.daycard-legend {
    width: fit-content;
    height: fit-content;
    font-size: .8em;
}

.legend-vegc {
    color: var(--carb);
}

.legend-badplate {
    color: var(--prot);
}

/** ///////////// PLATO ///////////// **/

.daycard-plate {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    aspect-ratio: 1/1;
    transition: opacity .25s ease-in-out;
}

/*: ////////////focus changes//////////// :*/
/*? //PLATE// ?*/
.mealcard-expanded {
    width: 100%;
}

.card-banish {
    width: 0;
    opacity: 0;
    pointer-events: none;
}

.plate-opacity {
    opacity: .1;
}

.plate-pos0 {
    right: 0;
    left: unset;
    transform: translate(0%);
}

.plate-pos1 {
    left: 0;
    right: unset;
    transform: translate(0%);
}

/*? //DETAILS// ?*/

.details-opacity {
    opacity: 1;
    pointer-events: all;
}

@media (min-width: 600px) {
    .daycard-outer-container {
        aspect-ratio: 3/1;
    }
}

/** ////// SEGUNDA SECCIÓN ////// */

.daycard-sections-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: calc(200% + 1em);
    gap: 1em;
    /* overflow: hidden; */
    transition: transform .5s cubic-bezier(0.22, 1, 0.36, 1);
}

.section-two {
    transform: translate(calc(-50% - .5em));
}

.extras-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;

    height: calc(100% - 1em);
    width: 100%;
    user-select: none;
    /* border: 1px solid lime; */
}

.extras-meal-card {
    position: relative;
}

.menu-dots {
    position: absolute;
    right: 0;
    width: 1.3em;
    color: #888888;
}

.extras-options {
    position: absolute;
    right: 1.5em;
    top: 0;
    padding: .5em;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: #202020;
    border-radius: .5em;
    border: 1px solid rgb(50, 50, 50);
}

.extras-options>p {
    margin: .25em !important;
}

.extras-card p {
    margin: 0;
}


.extras-card-extras {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.extras-card-extras>div {
    padding: .25em .5em .4em .5em;
}

/*? ////// INDICADORES ////// */

.daycard-section-indicator {
    display: grid;
    grid-template-columns: 50% 50%;

    justify-items: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

    height: 1em;
    width: 3em;

    /* border: 1px solid red; */
}

.daycard-section-indicator div {
    height: 0;
    border-radius: 3px;
    border: 3px #dadada solid;
    background: #dadada;
    transition: width .3s cubic-bezier(0.22, 1, 0.36, 1);
}

.indicator-on {
    width: 1em;
}

.indicator-off {
    width: 0em;
    border: 3px #888888 solid !important;
    background: #888888;
}