.hints-outer-container {
    position: relative;
    height: 2rem;
    width: 100%;
}

.hints-container {
    position: absolute;
    top: 2rem;
    width: 100%;
    height: 1.5rem;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}

.hint {
    position: absolute;
    top: 1rem;
    transition: top .3s ease;
}

.hint-on {
    top: -1rem;
}

.dots {
    user-select: none;
    position: relative;
}

.dots>b {
    opacity: 0;
}

.dots>p {
    position: absolute;
    top: 3px;
    left: 2px;
    margin: 0;
}