.login-container {
    height: calc(100vh - 8em);
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #ffffff;
    transition: color 5s ease-in;
}

.transparent {
    opacity: 0;
    display: none;
    pointer-events: none;
}