.navbar-container {
    position: fixed;
    top: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 100vw;
    height: 3em;
    color: #FFFFFF;
    background-color: rgb(25, 25, 25);
    overflow-x: clip;
    z-index: 90;
}

.navbar {
    display: flex;
}

.navlogo {
    padding-left: 1rem;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    user-select: none;
    color: #f5bb51;
}

.navbar-menu {
    position: absolute;
    top: 3em;
    right: 0;
    transform: translate(100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 50vw;
    max-width: 500px;
    height: calc(100vh - 3em);
    background-color: rgb(25, 25, 25);
    transition: all .2s;
    z-index: +1;
}

.navbar-menu p {
    padding-left: 2em;
}

.navbar-menu i {
    font-size: .9rem;
    padding-left: 2em;
    color: #606060;
    display: block;
    width: calc(100% - 4em);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav-disabled {
    color: #606060;
}

.navbar-menu-open {
    transform: translate(0%);
}

.navmenu-closer {
    display: none;
    position: absolute;
    top: 3em;
    width: 100vw;
    height: calc(100vh - 3em);
}

.navmenu-closer-on {
    display: block;
}