.platecard-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
    width: 50vw;
    transition: all .3s ease;

    /* border: 1px solid orange; */
}

.platecard-plate-container {
    position: absolute;
    height: 50vw;
    width: 50vw;
    transition: all .2s ease;
}

.platecard-plate-container>* {
    margin: auto;
}

.invisible {
    opacity: 0;
}

.pos0 {
    left: 0;
}

.pos1 {
    right: 0;
}

.repos0 {
    left: 50%;
    opacity: 0.1;
}

.repos1 {
    right: 50%;
    opacity: 0.1;
}

.platecard-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 1em;
}

.platecard-head {
    height: 80%;
    width: 95%;
    max-width: 95%;
    display: flex;
    align-items: center;
}

.head-reverse {
    flex-direction: row-reverse;
}

.platecard-legend {
    width: calc(100% - 1em);
    display: flex;
    flex-direction: column;
    margin-left: .5em;
}

.platecard-legend b {
    text-align: left;
    margin: 0;
    font-size: .8em;
}

.platecard-legend p {
    text-align: left;
    padding-left: .5em;
    margin: 0;
    overflow: visible;
}

.legend-reverse b,
.legend-reverse p {
    text-align: right;
}

.legend-reverse p {
    padding: 0 .5em 0 0;
}

.p-l-v {
    justify-content: flex-end;
}

.platecard-legend-mark {
    width: fit-content;
    height: fit-content;
    font-size: .8em;
}

.mark-vegc {
    color: var(--carb);
}

.mark-badplate {
    color: var(--prot);
}

.platecard-proportions {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: .6em;
    border-radius: .3em;
    overflow: hidden;
    background-color: rgb(63, 63, 63);
}

.platecard-proportions div {
    width: 1em;
}

.plate-card-ingredients {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-options {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card-options p {
    margin: 0;
}

.underline p {
    text-decoration: underline;
}

.showingcard {
    width: 100vw;
    transition: width 0s;
}

.ghost0 {
    position: absolute;
    pointer-events: none;
    animation: ghostleft .2s forwards ease-out;
}

.ghost1 {
    position: absolute;
    pointer-events: none;
    animation: ghostright .2s forwards ease-out;
}

@keyframes ghostleft {
    from {
        left: 0%;
        opacity: 1;
    }

    to {
        left: -100%;
        opacity: 0;
    }
}

@keyframes ghostright {
    from {
        right: 0%;
        opacity: 1;
    }

    to {
        right: -100%;
        opacity: 0;
    }
}