.plate-container {
    position: relative;
    width: 100%;
}

.plate {
    max-height: 100%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

.salad-container {
    position: absolute;
    top: 11.6%;
    left: 50.2%;
    border-radius: 3% 0 0 3%;
    height: 76.47%;
    width: 38.23%;
    z-index: 10;
    overflow: hidden;
}

.salad {
    position: absolute;
    left: -100%;
    height: 100%;
    width: 200%;
    border-radius: 50%;
    background-color: var(--veg);
}

.protein-c {
    position: absolute;
    top: 11.6%;
    left: 50%;
    transform: translate(-102%);
    border-radius: 0 3% 3% 0;
    width: 38.23%;
    z-index: 11;
    overflow: hidden;

}

.p-c {
    height: 76.47%;
}

.p-half-c {
    height: 38.23%;
    margin-bottom: 0.3%;
}

.protein-c div {
    position: absolute;
    left: 0%;
    background-color: var(--prot);
}

.protein {
    height: 100%;
    width: 200%;
    border-radius: 50%;
}

.half-protein {
    height: 200%;
    width: 200%;
    border-radius: 50% 0 0 0;
}

.carbo-c {
    position: relative;
    left: 50%;
    transform: translate(-102%);
    border-radius: 0 3% 3% 0;
    width: 38.23%;
    z-index: 11;
    overflow: hidden;
}

.c-c {
    top: 11.6%;
    height: 76.47%;
}

.c-half-c {
    top: 50%;
    height: 38.23%;
}

.carbo-c div {
    position: absolute;
    left: 0%;
    width: 200%;
    border-radius: 50%;
    background-color: var(--carb);
}

.carbo {
    height: 100%;
}

.half-carbo {
    top: -100%;
    height: 200%;
}

.vegC-mark {
    position: absolute;
    bottom: 5%;
    left: 10%;
    width: fit-content;
    height: fit-content;
    padding: .25em .5em;
    border-radius: .5em;
    background-color: var(--carb);
    color: #000000;
    z-index: 20;
}

.badplate-mark {
    position: absolute;
    bottom: 5%;
    right: 10%;
    width: fit-content;
    height: fit-content;
    padding: .25em .5em;
    border-radius: .5em;
    background-color: var(--prot);
    color: #000000;
    z-index: 20;
}