.TutorialContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    background-color: #00000090;
    pointer-events: none;
    display: none;
}

.tutoOpen {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

.tuto-content {
    height: fit-content;
    min-height: 10em;
    width: 100vw;
    max-width: 600px;
    padding: 1em;
    margin: 1em;
    border-radius: .5em;
    background-color: rgb(33, 33, 33);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.tuto-content p {
    text-align: left;
    font-size: 1.1rem;
}

.tuto-minicard {
    pointer-events: none;
    width: 90%;
    max-width: 500px;
    margin: 0 -10em;
    scale: .9;
    font-size: .8rem !important;
    overflow: hidden;
}

.tuto-minicard p {
    font-size: .8rem !important;
}

.dontshow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 .75em 0;
}

.dontshow p {
    margin: 0 0 .2em 0;
}

.dontshow input {
    appearance: none;

    border-radius: 50%;
    width: 1em;
    height: 1em;

    border: 1px solid rgb(255, 255, 255);
    transition: 0.2s all linear;
    margin: auto 5px;
    padding: 0 !important;
}

.dontshow input:checked {
    width: 1em;
    border: 6px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px 3px #ffffff29;
}