.week-container {
    display: flex;
    flex-direction: column-reverse;
}

.your-week {
    padding: 1em;
}

.your-week b {
    font-size: 1.25rem;
}

.your-week b,
.your-week div {
    text-align: left;
    margin: 0;
}

.lastmeal-container {
    height: 40vw;
    max-height: 12em;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.lastmeal-plate {
    height: 90%;
    margin: auto 0;
}

.lastmeal-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 70%;
}

.lastmeal-text p {
    padding: 0 .5em;
}

.lastmeal-text h3 {
    text-align: center;
    margin: 0;
}

.day-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .2em 0;
    overflow: clip;
}

.day-container div {
    display: flex;
    /* overflow-x: hidden; */
}

.card-deletemenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-deletemenu p {
    margin-bottom: 2rem;
}

.card-deletemenu div>button {
    margin: 0 .5em;
}