.App {
    height: 100vh;
    max-height: 100vh;
    text-align: center;
    color: rgb(242, 242, 242);
}

.button {
    /* width: fit-content; */
    min-height: 3rem;
    border-radius: .5em;
    background-color: #eaeaea;
    color: #000000;
    align-items: center;
}