.App {
    height: fit-content;
    max-height: 100vh;
    text-align: center;
    color: rgb(242, 242, 242);
    margin-top: 4em;
}

.button {
    max-width: 50%;
    min-height: 3rem;
    border-radius: .5em;
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    color: #000000;
    padding: .5em 1em;
    align-items: center;
}

.button-sec {
    border: 1px solid #FFFFFF;
    background-color: #00000000;
    color: #FFFFFF;
}

.button-opt {
    font-weight: 600;
}

.b-o-delete {
    color: var(--prot);
}

.icon-button {
    position: absolute;
    height: 2.5em;
    width: 2.5em;
    right: 0;
    border: none;
    background: none;
}

.icon {
    transform: translateY(10%) scale(1.5);
}

.i-margin {
    margin-right: .5em;
}

.i-white {
    color: #FFFFFF;
}